.cont-btn-project button{
    width: 18%;
    background-color: #eee;
}
.cont-btn-project button:hover{
    background-color:rgba(238, 238, 238, 0.623);
}

/* edit efect hover*/
.cont-efect{
    width: 95%;
    background-color: rgb(151 190 22 / 85%);
}
.cont-efect p{
    line-height: 26px;
    font-size: 14px;
}
.cont-efect .cont-img {
    width: 80px;
}