<div id="proyectos">

    <div class="container-fluid">

        <div class="row">

                <h3 class="text-center display-6 text-secondary text-uppercase" style="padding-top: 180px;"> proyectos</h3>
                <div class="sep-link mx-auto mb-4"></div>

            <div class=" ">
                <a href="http://www.hcempresas.cl/proyectos/" class="viewer nav-link text-end" target="_blank"><i class="fa fa-plus-circle" aria-hidden="true"></i> Proyectos</a>
            </div>
        </div>
    </div>
    
        <div class="row w-100 mb-2" style="position:relative;">
            <div class="col img-hovering">
                <img src="../../../assets/images/jardin_01.jpg" class="w-100" alt="">
                 
            </div>

            
            <div class="col img-hovering">
                <img src="../../../assets/images/jardin_01.jpg" class="w-100" alt="">
            </div>

            <div class="col img-hovering">
                <img src="../../../assets/images/jardin_01.jpg" class="w-100" alt="">
            </div>

        </div>

        <div class="row w-100 mb-2">
            <div class="col img-hovering">
                <img src="../../../assets/images/BADEN.jpg" class="w-100" alt="">
            </div>

            <div class="col img-hovering">
                <img src="../../../assets/images/BADEN.jpg" class="w-100" alt="">
            </div>

            <div class="col img-hovering">
                <img src="../../../assets/images/BADEN.jpg" class="w-100" alt="">
            </div>

        </div>
        
        <div class="row w-100 mb-2">
            <div class="col img-hovering">
                <img src="../../../assets/images/banner-Inspeccion.jpg" class="w-100" alt="">
            </div>

            <div class="col img-hovering">
                <img src="../../../assets/images/banner-Inspeccion.jpg" class="w-100" alt="">
            </div>

            <div class="col img-hovering">
                <img src="../../../assets/images/banner-Inspeccion.jpg" class="w-100" alt="">
            </div>

        </div>

        <div class="row w-100 mb-2">
            <div class="col img-hovering">
                <img src="../../../assets/images/hc-calle.jpg" class="w-100" alt="">
            </div>

            <div class="col img-hovering">
                <img src="../../../assets/images/hc-calle.jpg" class="w-100" alt="">
            </div>

            <div class="col img-hovering">
                <img src="../../../assets/images/hc-calle.jpg" class="w-100" alt="">
            </div>

        </div>











</div>
