<div class="cont-client mt-3">
  <h3 class="text-center display-6 text-secondary text-uppercase">Clientes</h3>
  <div class="sep-link mx-auto mb-4"></div>
  <p class="text-center parraf-client">
    Nos enfocamos en desarrollar relaciones de calidad con nuestros clientes por
    medio de procesos sustentables y continuos.
  </p>

  <div class="row w-100 justify-content-center">
    <div class="card col-md-3 bg-light shadow m-2">
      <div class="card-body cont-img mx-auto">
        <img
          src="/maqueta/assets/images/derco-maq.png"
          class="w-100"
          alt="marcas"
        />
      </div>
    </div>

    <div class="card col-md-3 bg-light shadow m-2">
      <div class="card-body cont-img mx-auto">
        <img
          src="/maqueta/assets/images/derco-maq.png"
          class="w-100"
          alt="marcas"
        />
      </div>
    </div>
  </div>
</div>
