<div id="equipo" class="container-fluid pb-5 ">
    
    <div class="">
        
        <div class="row justify-content-center w-100">

            <div class="col-md-12 squad">

                <h3 class="text-center display-6 text-secondary text-uppercase" style="padding-top: 180px;"> equipo</h3>
                <div class="sep-link mx-auto mb-4"></div>

                <p>El equipo HC lo integran personas perseverantes, apasionadas y responsables; que velan por el constante desarrollo personal y profesional de todos como conjunto, siempre enfocados en la elaboración de procesos transparentes y la creación de soluciones.</p>
                <p class="mT3">Nuestros principales ejecutivos son:</p>
            </div>

            <div class="row cont-img ">

                <div class="col-md profile-bx equipo-img">           
                    <img src="../../../assets/images/equipo1.jpg" class="img-responsive w-100" alt="Horacio Blaauboer Burgos">                    
                </div>
    
                <div class="col-md profile-bx equipo-img">           
                    <img src="../../../assets/images/equipo2.jpg" class="img-responsive w-100" alt="Horacio Blaauboer Burgos">                    
                </div>
    
                <div class="col-md profile-bx equipo-img">           
                    <img src="../../../assets/images/equipo3.jpg" class="img-responsive w-100" alt="Horacio Blaauboer Burgos">                    
                </div>
    
                <div class="col-md profile-bx equipo-img">           
                    <img src="../../../assets/images/equipo4.jpg" class="img-responsive w-100" alt="Horacio Blaauboer Burgos">                    
                </div>

            </div>

        </div>


    </div>

</div>