@import url('../../../assets/varColors.css');
.fondo {
  background-image: url('assets/images/contacto-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 705px;
  position: relative;
  text-align: left;
}

.contact-bx {
  width: 50%;
  padding: 10%;
}
.contact-bx p {
  letter-spacing: 1.5px;
  color: #444;
}

.contact-bx a {
  text-decoration: none !important;
  color: #444 !important;
}

.contact-bx a i {
  color: #444;
}

.contact-bx h3 {
  color: var(--color-btns);
}
.contact-bx p i {
  color: var(--color-btns);
}

.credit {
  text-decoration: none;
  color: #444;
}

.credit p {
  font-size: 12px;
  color: #d2ccce;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.credit p a {
  text-decoration: none;
  color: #d2ccce;
}
