
    <h3 class="text-center display-6 text-secondary text-uppercase" style="padding-top: 180px;">contacto</h3>
    <div class="sep-link mx-auto mb-4"></div>

<div class="col-md-12 fondo p0">   

    <div class="contact-bx">
        <h3 class="mb-4">Cuéntanos en qué consiste tu proyecto...</h3>
        <p class="w-100" ><i class="fa fa-phone" aria-hidden="true"></i> +56 222 351 800</p>
        <p class="w-100"><i class="fa fa-phone" aria-hidden="true"></i> +56 224 007 816</p>
        <p class="w-100"><a class="" href="mailto:contactos@hcempresas.cl"> <i class="fa fa-envelope mL15" aria-hidden="true"> </i> contactos@hcempresas.cl</a></p>
        <p class="w-100"><i class="fa fa-map-marker mst" aria-hidden="true"></i> Av. Pedro de Valdivia 1215, Of. 509, Providencia, Santiago de Chile</p>
        <p class="w-100"><a id="mapsAction" href="#0"><i class="far fa-map"></i>¿Cómo llegar?</a></p>
        <p class="w-100"><a href="#"><i class="fab fa-linkedin-in"></i> HC Empresas</a></p>
    </div>

</div>

    <div class=" nav-linkpLR15 credit">
        <p>Copyright © 2017 <strong>HC Empresas</strong> | Desarrollado por<a href="http://espaciovital.cl/" target="_blank"> Espacio Vital</a></p>
    </div>