<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm w-100 mb-5">

  <a class="navbar-brand cont-logo d-block" [routerLink]="['/']">
    <img src="../assets/images/logo-hc.png" style="width: 230px;" alt="logo empresa">
  </a>
</nav>

<div class="container-fluid mb-3">
  <nav class="d-flex flex-wrap nav-project justify-content-start mx-0">
    
      <button class="btn rounded p-2 ">Mostrar todos</button>
    
      <button class="btn rounded p-2 ">HC ingenieros</button>
    
      <button class="btn rounded p-2">HC Gestion</button>
    
      <button class="btn rounded p-2">HC BIM</button>
    
  </nav>
</div>

   
 
 