<div class="row w-100 justify-content-center mt-4 mb-5">
    <h2 class="text-center text-uppercase text-secondary">Areas</h2>
    <div class="sep-link"></div>
</div>

<div class="row mx-auto w-100 mb-5">
    
        <a class="col-md  cont-img ">
            <img src="../../../assets/images/hc-gestion.png" class="w-100 d-block" alt="">
        </a>

    
        <a class="col-md cont-img ">
            <img src="../../../assets/images/hc-gestion.png" class="w-100 d-block" alt="">
        </a>
    
    
        <a class="col-md cont-img ">
            <img src="../../../assets/images/hc-gestion.png" class="w-100 d-block" alt="">
        </a>
    
    
        <a class="col-md cont-img ">
            <img src="../../../assets/images/hc-gestion.png" class="w-100 d-block" alt="">
        </a>
           
 
</div>

<div class="bg-img">

</div>