<div class="areas" id="areas" >

    <div class="container-fluid w-100">
        <h3 _ngcontent-pyx-c21="" class="text-center display-6 text-secondary text-uppercase">
            Áreas
        </h3>
        <div _ngcontent-xot-c21="" class="sep-link mx-auto mb-4">

         </div>
            <div class="row w-100">
                <!-- barra de navegacio de areas -->
                <nav>
                    <ul class="list-inline ">
                        <div class="col list-inline-item">
                           <li>
                                <a  data-content="ingenieros" href="#">                                
                                    <img src="../assets/images/logo-hc.png" alt="HC ingenieros" >                                
                                </a>
                            </li>
                        </div>
                        <div class="col list-inline-item">
                            <li>
                                 <a  data-content="ingenieros" href="#">                                
                                     <img src="../assets/images/logo-hc.png" alt="HC ingenieros" >                                
                                 </a>
                             </li>
                         </div>
                         <div class="col list-inline-item">
                            <li>
                                 <a  data-content="ingenieros" href="#">                                
                                     <img src="../assets/images/logo-hc.png" alt="HC ingenieros" >                                
                                 </a>
                             </li>
                         </div>
                         <div class="col list-inline-item">
                            <li>
                                 <a  data-content="ingenieros" href="#">                                
                                     <img src="../assets/images/logo-hc.png" alt="HC ingenieros" >                                
                                 </a>
                             </li>
                         </div>
                    </ul>
                </nav>
            </div>
        <!-- img principal de areas--> 
        
        <div class="row w-100 mx img-bg container-fluid">
            <!-- img -->
        </div>

    </div>
</div>
