<div class="cont-nosotros">

  <h3 class="text-center display-6 text-secondary text-uppercase">Nosotros</h3>
  <div class="sep-link mx-auto mb-4"></div>

  <div class="row w-100 text-uppercase mx-auto">
    <button name="vision" class="col-md btn btn-primary text-uppercase fw-bold p-2">
      <div class="cont-icon bg-white mx-auto mb-1 p-3">
        <i class="fas fa-glasses"></i>
      </div>
      Visión
    </button>

    <button name="mision" class="col-md btn btn-primary fw-bold text-uppercase p-2">
      <div class="cont-icon bg-white mx-auto mb-1 p-3">
        <i class="fas fa-globe-asia"></i>
      </div>
      misión
    </button>

    <button name="valores" class="col-md btn btn-primary fw-bold text-uppercase p-2">
      <div class="cont-icon bg-white mx-auto mb-1 p-3">
        <i class="far fa-handshake"></i>
      </div>
      valores
    </button>
  </div>

  <!-- content dinamic -->
  <div class="row w-100 mx-auto">

    <!-- vision -->
    <div class="col cont-dinamic"></div>
  </div>

</div>
