@import url('./assets/varColors.css');

body {
  font-family: var(--font-main) !important;
  scroll-behavior: smooth;
  color: #555;
}
/* hr separations */
.sep-carousel {
  width: 4%;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
}
.sep-link {
  width: 3%;
  height: 2px;
  border-radius: 3px;
  background-color: var(--color-btns);
}

/* efect */
.cont-card {
  position: relative;
  overflow: hidden;
}
.cont-efect {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.651);
  transition: all 400ms;
  transform: translateY(200%);
  cursor: pointer;
}
.cont-card:hover .cont-efect {
  transform: translateY(0%);
}
.cont-efect p {
  line-height: 36px;
  font-size: 15px;
}
/* >>>>>>>>> responsive web >>>>>>>>>>*/

@media (max-width: 350.98px) {
  .cont-intra {
    display: none !important;
  }
}
/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .cont-intra {
    display: none !important;
  }

  .cont-btn-project {
    justify-content: center !important;
  }

  .cont-img-dinamic div {
    padding: 0px !important;
    margin-top: 7px !important ;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .cont-img-dinamic p {
    width: 100% !important;
    font-size: 15px !important;
  }

  .cont-text-dina {
    width: 100% !important;
  }
  .cont-img-logo {
    width: 200px !important;
  }

  .carousel-item {
    height: 300px !important;
  }
  .carousel-caption {
    display: none !important;
  }

  .carousel-indicators {
    display: none !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
  .cont-nosotros {
    margin-top: 0px !important;
  }
  .cont-nosotros button {
    border: 2px solid #fff !important;
  }
  .cont-img-areas {
    width: 230px !important;
  }
  .contact-bx {
    width: 100% !important;
    text-align: center !important;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .navbar-nav > a {
    display: none !important;
  }
  .cont-btn-project button {
    width: 50% !important;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .cont-title {
    width: 100% !important;
  }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
