@import url("./assets/varColors.css");

body{
    font-family: var(--font-main) !important;
    scroll-behavior: smooth;
    color: #555;
}
/* hr separations */
.sep-carousel{
    width: 4%;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
}
.sep-link{
    width: 3%;
    height: 2px;
    border-radius: 3px;
    background-color: var(--color-btns);
}